[Unit]
Description=Gogs (Go Git Service) server
After=syslog.target
After=network.target

[Service]
Type=simple
User=gogs
Group=gogs
ExecStart=/opt/gogs/gogs web
WorkingDirectory=/opt/gogs/
Restart=always

[Install]
WantedBy=multi-user.target
